<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498322098748-rg570j0mclv9660a1g0s9qksqoi9dv3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498322098748-rg570j0mclv9660a1g0s9qksqoi9dv3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBsUmaWxKqaIgIxUJzR04UgGEaTJu4P--w</string>
	<key>GCM_SENDER_ID</key>
	<string>498322098748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stem.RaiseUp</string>
	<key>PROJECT_ID</key>
	<string>raiseup-737c2</string>
	<key>STORAGE_BUCKET</key>
	<string>raiseup-737c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498322098748:ios:410a8dfe6d37c86a8ad139</string>
</dict>
</plist>